**/*.map
*.vsix
.editorconfig
.eslintrc.js
.gitattributes
.gitignore
.nvmrc
CODE_OF_CONDUCT.md
CODING_STANDARDS.md
CONTRIBUTING.md
package-lock.json
tsconfig*.json

.github/**
.mocha-reporter/**
.nvm/**
.nyc_output
.prettierrc.js
.venv/**
.vscode/**
.vscode-test/**
bin/**
build/**
node_modules/**
obj/**
out/**
build/**
src/**
test/**
